.brands {
  padding: 100px 0;
  background-color: $white;

  &__list {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .slick-track {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .slick-slide{
    text-align: center;
  }
}
