.info {
  background-color: $white;

  &__item {
    font-size: 75px;
    color: $black;
    @extend %acherus;
    max-width: 840px;
    width: 100%;
    margin: 0 auto;
    padding: 200px 0 120px;

    background: linear-gradient(-45deg, #C9C9C9 50%, $black 50%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;

    // background: url(https://i.ibb.co/RDTnNrT/animated-text-fill.png) repeat-y;
    // -webkit-background-clip: text;
    // background-clip: text;

    // -webkit-text-fill-color: transparent;
    // -webkit-animation: aitf 80s linear infinite;
    // -webkit-transform: translate3d(0, 0, 0);
    // -webkit-backface-visibility: hidden;

    // @-webkit-keyframes aitf {
    //   0% {
    //     background-position: 0% 50%;
    //   }

    //   100% {
    //     background-position: 100% 50%;
    //   }
    // }

    @include mq('tablet-2') {
      padding: 150px 0 90px;
      font-size: 50px;
    }

    @include mq('tablet') {
      padding: 100px 0 70px;
      font-size: 30px;
    }

    @include mq('phone') {
      padding: 50px 0;
      font-size: 25px;
    }

  }

  &__img {
    width: 100%;
  }

}