.header-arrow {
  width: 38px;
  height: 38px;
  border-radius: 50%;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;

  &__img {
    fill: $black;
    width: 11px;
    height: 11px;
  }
}

.header {
  @extend %bg;
  color: $white;
  height: 100vh;

  &__top {
    position: fixed;
    padding: 34px 83px 35px 53px;
    border-bottom: 1px solid rgba($white, 0.5);
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    transition: background-color 0.5s,
      padding 0.5s;

    &.fixed {
      background-color: $accent;

      @include mq('desktop') {
        padding: 25px 83px 25px 52px;
      }

      @include mq('tablet-2') {
        padding: 20px 83px 20px 52px;
      }

      @include mq('tablet-2') {
        padding: 15px 20px;
      }
    }

    @include mq('tablet') {
      padding: 15px;
    }
  }

  &__box-link {
    position: relative;
  }

  &__box {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__content {
    margin-bottom: 60px;

    .container-inner {
      display: flex;
      justify-content: end;
      flex-direction: column;
      height: calc(100vh - 100px);
    }
  }

  &__title {
    max-width: 830px;
    width: 100%;
    font-size: 55px;
    line-height: 1.2;
    @extend %acherus;
    margin-bottom: 50px;

    @include mq('tablet') {
      font-size: 35px;
    }

    @include mq('phone') {
      font-size: 25px;
    }
  }

  &__content-link {
    position: relative;
    background-color: $accent;
    padding: 24px 38px 24px 77px;
    border-radius: 81px;
    width: fit-content;
    margin-bottom: 80px;

    &::before {
      @include pseudo;
      @extend %mask;
      left: 42px;
      top: 29px;
      background-color: $white;
      mask-image: url('../images/sprite.svg#arrow');
      width: 11px;
      height: 11px;

      @include mq('phone') {
        left: 25px;
        top: 23px;
      }
    }

    @include mq('phone') {
      padding: 20px 13px 20px 55px;
    }
  }

  &__link {
    position: relative;
    @extend %acherus;
    padding-left: 47px;

    &::before {
      @include pseudo;
      top: -40px;
      left: 0;
      width: 1px;
      background-color: rgba($white, 0.5);
      height: 100px;

      @include mq('desktop') {
        display: none;
      }
    }

    @include mq('desktop') {
      margin-right: 30px;
    }

    @include mq('phone') {
      display: none;
    }
  }

  &__arrow-link {
    position: absolute;
    left: -18px;
    top: -8px;


    @include mq('desktop') {
      display: none;
    }
  }

  .logo {
    @include mq('desktop') {
      margin-right: auto;
    }
  }
}

.menu {

  &.menu--active {
    transform: translateX(0);
  }

  &__list {
    display: flex;
    font-size: 15px;
  }

  &__item {
    font-weight: 300;

    &--link {
      display: none;

      @include mq('phone') {
        display: block;
      }
    }

    @include mq('desktop') {
      font-size: 30px;
    }

    &:not(:last-child) {
      margin-right: 60px;
    }
  }

  @include mq('desktop') {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    display: block;
    text-align: center;
    padding: 80px 0;
    height: 100vh;
    overflow-y: auto;
    transform: translateY(-200%);
    background-repeat: no-repeat;
    background-size: cover;
    background-image: url('../images/global/menu-bg.jpg');
    transition: transform 0.5s;
    z-index: 1;

    &__list {
      flex-direction: column;
      justify-content: center;
      margin-top: 50px;
    }

    &__item {
      &:not(:last-child) {
        margin-right: 0;
      }
    }

    &__link {
      display: block;
      padding: 22px 0;
      transition: background-color 0.5s;
    }

    &__item {
      margin-right: 0;
    }
  }
}

.menu-btn {
  position: relative;
  display: none;
  width: 44px;
  height: 44px;
  z-index: 2;
  order: 1;

  &::after,
  &::before,
  & span {
    height: 2px;
    width: 30px;
    left: 2px;
    background-color: #fff;
    transition: transform 0.5s;
  }

  &::before,
  &::after {
    content: '';
    position: absolute;
  }

  &::before {
    top: 10px;
  }

  &::after {
    bottom: 12px;
  }

  &__line {
    position: absolute;
    top: 45%;
  }

  @include mq('desktop') {
    display: block;
  }

  &.menu-btn--active {
    &::before {
      transform: rotate(45deg);
      top: 50%;
    }

    &::after {
      transform: rotate(-45deg);
      top: 50%;
    }

    .menu-btn__line {
      display: none;
    }
  }
}